#formContainerTwo {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 300px;
    text-align: center;
}


#formContainerThree {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 300px;
    text-align: center;
    perspective: 1000px; /* Nastavení 3D perspektivy */
}




@keyframes swirl-in-fwd {
    0% {
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -40%);
        visibility: hidden;
    }
}


.fadeOut {
    animation: fadeOut 1s ease-out forwards;
}

.rotateIn {
    animation: swirl-in-fwd 0.6s ease-out both;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 20px); /* Zajištění odsazení od pravého okraje */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);
    border-color: #2196F3;
}

#submitF2 {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#submitF2:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.error-border {
    border-color: red !important;
}